a,
.panel-group .panel .panel-title a, 
.panel-group .panel .panel-title a:hover, 
.navbar.navbar-default .nav.navbar-nav li a:hover,
.navbar.navbar-default .nav.navbar-nav li a:focus,
.navbar.navbar-default .nav.navbar-nav li.active a,
.navbar.navbar-default .nav.navbar-nav li.active a:focus, 
.navbar.navbar-default .nav.navbar-nav li.open a, 
.navbar.navbar-default .nav.navbar-nav li.dropdown.open > a,
.navbar.navbar-default .nav.navbar-nav li.open a:hover, 
.navbar.navbar-default .nav.navbar-nav li.open a:focus, 
.highlight, .box-icon, .share_icon a:hover, 
.owl-nav > div:hover:after, 
#download_app a h3:hover, 
.post_wrap h5 a:hover, 
.footer_links li a:hover, .footer_links li a:hover:after, 
.footer-style2 .footer_widgets li a:hover, 
.footer-style2 .download_link a:hover, 
.post_listing h2 a:hover, 
.sidebar_widgets > ul > li > a:hover, 
.tagcloud a, 
.populat_post_wrap h6 a:hover, 
.post_tags a, 
.comment-meta.commentmetadata a:hover, 
.btn-link {
	color:#2dcc70;
	fill: #2dcc70;
}
a:hover, a:focus, 
.btn-link:hover, .btn-link:focus, 
.breadcrumbs a:hover {
	color:#21b55f;
	fill: #21b55f;
}
.btn,
.navbar.navbar-default .nav.navbar-nav .dropdown-menu, 
.fact_icon, .popular_plan, 
.owl-dot.active, 
.back-top, 
.pagination .page-number.current, 
.pagination .page-number:hover, 
.pagination .page-number:focus, 
.tagcloud a:hover, 
.post_tags a:hover, 
.follow_us ul li a:hover, 
.demo_changer .demo-icon {
  background: #2dcc70;
  fill: #2dcc70;
}
.btn:hover, .btn:focus {
	background-color: #21b55f;
	fill: #21b55f;
}
.footer-style2 .download_link a:hover, 
.tagcloud a, 
.post_tags a {
	border-color:#2dcc70;
}