@charset "utf-8";

/*
Theme Name: BPromote - Responsive App Landing Page.
Author: WMD
Version:1.0
*/

/*===========================
 =  Table of CSS

 	1. General code
		1.1. Typography
		1.2. Button
		1.3. dark-overlay
		1.4. Space margins and padding
		1.5. Form
		1.6. Table
		1.7. Accordion
		1.8. Section-background-color & sectino-heading
		1.9 Tabs
		1.10. parallex-background
		1.11. Modal
	2. Header
	3. Banner
		3.1. Background-Video
		3.2. Background-Slider
		3.2. Background-Slider
	4. About-us
	5. Fun-Facts
	6. Features
	7. Share-App
	8. Screenshots
	9. Download App
	10. Pricing-Table
	11. How-it-work
	12. Reviews
	13. Contact-Us
	14. Latest News
	15. Footer
	16. Inner-page-Banner
	17. Blog
		17.1 Sidebar
	18. Blog-Detail
		18.1. Comment-List
	19. Responsive CSS

===========================*/



/*====================
	1. General code
==========================*/
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin:0px;
    padding:0px !important;
    overflow-x:hidden;
    color:#555555;
}


/*----------------------
	1.1. Typography
------------------------------*/

h1, h2, h3, h4, h5, h6 {
    color:#111111;
    font-weight:800;
    margin:0 auto 15px;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size:32px;
}
h5 {
    font-size: 26px;
}
h6 {
    font-size: 22px;
}
p {
    font-size:17px;
    line-height:28px;
    font-weight:400;
    margin-bottom:15px;
}
a {
    transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -o-transition-duration:0.5s;
    -webkit-transition-duration:0.5s;
    -ms-transition-duration:0.5s;
    text-decoration:none;
    color:#dc3545;
}
a:hover, a:focus {
    text-decoration:none;
    outline:none;
    color:#ff0018;
}
ul, ol {
    margin:0 auto 20px;
}
ul li, ol li {
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto 10px;
}
ul li i, ol li i {
    margin:0 12px 0 0;
}
ul.list_style_none, ol.list_style_none {
    list-style:none;
}
ul.list-with-icon {
    padding-left:10px;
    margin-bottom:30px;
}
ul.list-with-icon li {
    line-height: 20px;
    margin-bottom: 15px;
    padding-left: 23px;
    position: relative;
    list-style:none;
}
ul.list-with-icon li i {
    left: 0;
    position: absolute;
    top: 4px;
}

blockquote {
    background:#f5f5f5 ;
}
.white-text,
.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text h6,
.white-text p {
    color:#fff;
}
.uppercase {
    text-transform:uppercase;
}
.underline {
    text-decoration:underline;
}
.divider {
    border-bottom: 1px solid #dcd9d9;
    clear: both;
    margin: 40px auto;
}


/*-----------------
	1.2. Button
-------------------------*/
.btn {
    background:#dc3545;
    border: medium none;
    border-radius: 0px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    line-height: 30px;
    margin: auto;
    padding: 12px 38px;
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
}
.btn .fa {
    font-size: 22px;
    margin-left: 5px;
    vertical-align: middle;
}
.btn.btn-lg {
    font-size: 22px;
    line-height: 30px;
    padding: 18px 50px;
}
.btn:hover {
    background:#ff0018
}
.btn:hover, .btn:focus {
    color: #ffffff;
    outline:none;
    background:#ff0018;
}
.btn-link {
    font-weight: 800;
    font-size:17px;
}
.btn-link:hover, .btn-link:focus {
    color:#ff0012;
}
.btn.outline {
    background:none;
    border-style:solid;
    border-width:1px;
}
.btn.outline:hover, .btn.outline:focus {
    color:#fff;
}
.btn.btn-xs {
    font-size:12px;
    padding:0px 25px;
}
.btn.btn-xs .fa {
    margin:0 5px;
    font-size:14px;
}
.btn.outline.active-btn {
    border-color:#089901;
    color:#089901;
}
.btn.outline.active-btn:hover {
    background:#089901;
    color:#fff;
}


/*-------------------------
	1.3. dark-overlay
---------------------------------*/
.div_zindex {
    position: relative;
    z-index: 1;
}
.dark-overlay {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/*-------------------------------------
	1.4. Space margins and padding
------------------------------------------------*/
.padding_none {
    padding:0px;
}
.padding {
    padding:20px 0;
}
.padding_50px {
    padding:50px 0;
}
.padding_4x4_30 {
    padding:30px;
}
.padding_4x4_40 {
    padding:40px;
}
.space-20 {
    width:100%;
    height: 20px;
    clear:both;
}
.space-30 {
    width:100%;
    height: 30px;
    clear:both;
}
.space-40 {
    width:100%;
    height: 40px;
    clear:both;
}
.space-60 {
    width:100%;
    height: 60px;
    clear:both;
}
.space-80 {
    height: 80px;
    width:100%;
}
.margin-btm-20 {
    margin-bottom: 20px;
    clear:both;
}
.margin-none {
    margin:0px;
}



/*-----------------
	1.5. Form
---------------------------*/
.form-group {
    margin-bottom: 15px;
    position: relative;
}
.form-label {
    color: #111111;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto 8px;
}
.form-control {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid;
    border-radius: 0;
    box-shadow: none;
    color: #888888;
    font-size: 16px;
    height: 54px;
    line-height: 30px;
    padding: 0 15px;
}
textarea.form-control {
    padding:15px 20px;
}
.form-control:hover, .form-control:focus {
    box-shadow:none;
    outline:none
}
.select {
    position:relative;
}
.select select {
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;

}
.select::after {
    color: #878787;
    content: "";
    cursor: pointer;
    font-family: fontawesome;
    font-size: 15px;
    padding: 12px 0;
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 0;
}
.form-control option {
    padding: 10px;
}
.control-label {
    color:#555;
    font-size:15px;
    font-weight:700;
}
.radio label, .checkbox label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding-left: 26px;
    position: relative;
}
.radio input[type=radio],
.checkbox input[type=checkbox] {
    display: none;
}
.radio label:before {
    background-color:transparent;
    border-style:solid;
    border-width:1px;
    border-radius:50%;
    content: "";
    display: inline-block;
    height: 15px;
    left: 0;
    top:4px;
    position: absolute;
    width: 15px;
}
.checkbox label::before {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #111111;
    content: "";
    display: inline-block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 16px;
}
.radio input[type=radio]:checked + label:before {
    content: "\2022";
    font-size: 15px;
    text-align: center;
    line-height: 11px;
}
.checkbox input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 12px;
    text-align: center;
    line-height: 14px;
}
.black_input .form-control {
    background:#222;
    border-radius:3px;
    color:#fff;
    border:#222 solid 1px;
    font-size:17px;
}
.checkbox, .radio {
    padding-top: 5px;
}


/*-----------------
	1.6. Table
---------------------------*/
table {
    margin:0 0 30px;
    width:100%;
}
table th, table td {
    border: 1px solid #cccccc;
    padding: 15px;
    padding:18px;
}
table th img, table td img {
    max-width:100%;
}
table thead {
    background:#eee;
}
table thead th, table thead td {
    text-transform:uppercase;
    font-weight:900;
    color:#111;
}


/*-----------------
	1.7. Accordion
---------------------------*/
.panel.panel-default {
    margin:0 auto 25px;
}
.panel-group .panel {
    border-radius: 0;
}
.panel-group .panel .panel-title {
    font-size:22px;
}
.panel-group .panel .panel-title a.collapsed {
    display:block;
    padding:10px;
    color:#111;
}
.panel-group .panel .panel-title a,
.panel-group .panel .panel-title a:hover {
    color:#dc3545;
    padding:10px;
    display:block;
}
.panel-collapse .panel-body {
    padding:25px;
}



/*-----------------------------------------------------------
	1.8. Section-background-color & sectino-heading
-------------------------------------------------------------------*/
.secondary-bg {
    background-color:#1e2127;
    color:#fff;
}
.primary-bg {
    background: #363951;
    color:#fff;
}
.section-padding {
    padding: 60px 0;
}
.section-header {
    margin: 0 auto;
    max-width: 950px;
    padding-bottom: 50px;
}
.section-header h2 {
    margin-bottom: 25px;
}
.section-header p {
    font-size: 20px;
    font-weight:300;
    line-height:32px;
}


/*--------------------
	1.9. Tabs
------------------------------*/
.nav.nav-tabs {
    border: medium none;
}
.nav-tabs > li a {
    background: #000000 none repeat scroll 0 0;
    border-radius: 0;
    color: #ffffff;
    font-weight: 800;
    margin-right: 5px;
    padding: 9px 36px;
    text-align:center;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #ffffff;
}
.nav-tabs > li {
    margin-bottom: 0;
}


/*--------------------------------------------
	1.10. parallex-background
---------------------------------------------------*/
.parallex-bg {
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/*------------------------
	1.11. Modal
--------------------------------*/
.modal-dialog {
    width: 650px;
}
.modal-content {
    padding: 0 32px 22px;
}
.modal-header {
    padding:15px 0;
    margin-bottom:25px;
}
.modal-body {
    padding:10px 0;
}
.modal .modal-header .close {
    background: #000000 none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    font-size: 17px;
    height: 31px;
    line-height: 30px;
    margin-top: 5px;
    opacity: 1;
    text-align: center;
    text-shadow: none;
    width: 31px;
}




/*================
	 2. Header
===========================*/
#header {
    background:#fff;
    padding:0;
    position:fixed;
    left:0px;
    right:0px;
    z-index:22;
    transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
}
#header .logo {
    margin:20px 0;
    transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
}
header#header.affix {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    left: 0;
    position: fixed;
    right: 0;
}
header#header.affix .navbar.navbar-default .nav.navbar-nav > li > a {
    padding:30px 16px;
}
header#header.affix .logo {
    margin:9px 0;
}
.navbar.navbar-default {
    background:none;
    border-radius:0px;
    border:0px;
    margin:0 auto;
}
.navbar.navbar-default .nav.navbar-nav {
    float:right;
}
.navbar.navbar-default .nav.navbar-nav li {
    margin:0;
}
.navbar.navbar-default .nav.navbar-nav > li > a {
    color: #111;
    display: inline-block;
    font-size: 19px;
    padding: 41px 16px;
}
.navbar.navbar-default .nav.navbar-nav li.open .dropdown-menu li {
    margin:0 auto;
    padding:3px 20px;
    border-bottom:rgba(255, 255, 255, 0.1) solid 1px;
}
.navbar.navbar-default .nav.navbar-nav li.open .dropdown-menu a {
    color:#fff;
    display:block;
    font-size: 16px;
    padding: 10px 0px;
}
.navbar.navbar-default .nav.navbar-nav li a:hover,
.navbar.navbar-default .nav.navbar-nav li a:focus,
.navbar.navbar-default .nav.navbar-nav li.active a,
.navbar.navbar-default .nav.navbar-nav li.active a:focus,
.navbar.navbar-default .nav.navbar-nav li.open a,
.navbar.navbar-default .nav.navbar-nav li.dropdown.open > a,
.navbar.navbar-default .nav.navbar-nav li.open a:hover,
.navbar.navbar-default .nav.navbar-nav li.open a:focus {
    color:#dc3545;
    background:none;
}
.navbar.navbar-default .nav.navbar-nav li.open .dropdown-toggle,
.navbar.navbar-default .nav.navbar-nav li.open .dropdown-menu a:hover,
.navbar.navbar-default .nav.navbar-nav li.open .dropdown-menu a:focus {
    background:none;
    color:#fff;
}
.navbar.navbar-default .nav.navbar-nav .dropdown-menu {
    background:#dc3545;
    box-shadow:none;
    border:0px;
    border-radius:0px;
    padding:0px;
}


/*-----------------------------
	2.1. Header-Style2
---------------------------------*/
.header_style2 .logo {
    text-align:center;
}
.social_links a {
    font-size:30px;
    margin-right:12px;
    display:inline-block;
}
.social_links .facebook_link {
    color:#3b5998;
}
.social_links .twitter_link {
    color:#32cdfd;
}
.social_links .linkedin_link {
    color:#0077b5;
}
.social_links .pinterest_link {
    color:#bd2125;
}
.social_links {
    margin-top: 9px;
}
#menu_icon {
    float: right;
    font-size: 30px;
    margin-top: 6px;
    cursor:pointer;
}



/*================
	 3. Banner
===========================*/
#banner {
    /* background-color: #000000; */
    /* background-image: url("../images/app_bg_screenshot.png"); */
    /* overflow: hidden; */
    padding: 102px 0 0;
}
.intro_img {
    /* text-align: center; */
}
.intro_text {
    padding:90px 0;
}
.intro_text h1 {
    font-size: 70px;
    margin: 0 auto 20px;
    text-transform: capitalize;
}
.intro_text h3 {
    font-size:37px;
    font-weight:300;
    line-height:50px;
    margin:0 auto 40px;
}


/*--------------------------
	3.1. Background-Video
-------------------------------*/
.video {
    bottom: 0;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0px);
}
.video_bg .dark-overlay {
    background:rgba(0, 0, 0, 0.8);
}



/*--------------------------
	3.2. Background-Slider
-------------------------------*/
#banner.bannr_slideshow {
    padding:0px;
    background:none;
}
#banner.bannr_slideshow .owl-nav > div::after {
    top:0px;
}
.slides {
    background-position: center top;
    background-size: cover;
    position: relative;
    padding: 100px 0 0px;
}
.masked::after {
    background-color: rgba(0, 0, 0, 0.78);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.bannr_slideshow .owl-carousel .owl-item img {
    display: inline;
    max-width: 100%;
    width: auto;
}
.bannr_slideshow .owl-nav div:after {
    font-size:50px;
}
.bannr_slideshow .owl-nav .owl-prev {
    left: 15px;
}
.bannr_slideshow .owl-nav .owl-next {
    right: 15px;
}
.bannr_slideshow .owl-dots {
    display:none;
}
.bannr_slideshow .intro_text h1 {
    font-size:55px;
}
.bannr_slideshow .intro_text p {
    font-size: 19px;
    line-height: 28px;
    margin: 0 auto 40px;
}


/*--------------------------
	3.3. Background-Color
-------------------------------*/
#banner.color_bg {
    background:#363951;
    padding-bottom:0px;
}




/*================
	 4. About-us
===========================*/

#about_info img {
    max-width:100%;
}
.info_wrap {
    padding-left:40px;
}
.highlight {
    color:#dc3545;
}
.vertical_box {
    overflow:hidden;
    margin:40px auto 10px;
}
.box-icon {
    border: 2px solid #eeeeee;
    border-radius: 50%;
    color: #dc3545;
    font-size: 31px;
    height: 60px;
    line-height: 52px;
    margin: 0 auto 16px;
    text-align: center;
    width: 60px;
}
.vertical_box .box-icon {
    float:left;
}
.vertical_box .box-info {
    float:right;
    width:80%;
}



/*================
	 5. Fun-Facts
===========================*/
#fun-facts {
    background-color: #000000;
    background-image: url("../images/app_bg_screenshot.png");
    padding: 50px 0;
}
.facts_info {
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
}
.facts_info:after {
    position:absolute;
    top:0;
    right:8px;
    content:"";
    height:100%;
    border-right:rgba(255, 255, 255, 0.15) solid 1px;
}
.facts_info:last-child:after {
    border:0px;
}
.facts_info h3 {
    margin:0 auto;
}
.facts_info p {
    color:#838385;
    margin:0 auto;
}
.fact_icon {
    background: #dc3545 none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    float: left;
    font-size: 40px;
    height: 82px;
    line-height: 80px;
    margin: 0 15px 0 0;
    text-align: center;
    width: 82px;
}


/*================
	 6. Features
===========================*/
.features-box {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
    text-align: center;
    margin:20px auto 0;
    transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
}
.phone_image {
    text-align:center;
}
.features-box:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.features-box .box-icon {
    font-size:32px;
}
.features_app_screen img {
    max-width:100%;
}


/*================
	 7. Share-App
===========================*/
#share_app {
    background-color: #000000;
    background-image: url("../images/app_bg_screenshot.png");
    padding: 50px 0;
    overflow:hidden;
}
#share_app h2 {
    line-height:60px;
    margin:70px auto 20px;
}
.share_icon a {
    color:#fff;
    font-size:80px;
    margin:0 25px 0 0;
    display:inline-block;
}
.share_icon a:hover {
    color:#dc3545;
}
.share_app_img {
    margin-bottom:-150px;
}


/*=====================
	 8. Screenshots
===========================*/
#screenshots_slider {
    position:relative;
}
#screenshots_slider .item {
    border:#dbdbdb solid 4px;
}
.owl-nav {
    position:absolute;
    top:50%;
    left:0px;
    right:0px;
    height:2px;
    transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
}
.owl-nav > div {
    float: left;
    font-size: 0;
    height: 60px;
    position: relative;
    width: 60px;
}
.owl-nav .owl-prev {
    left:-60px;
}
.owl-nav .owl-next {
    float:right;
    right:-60px;
}
.owl-nav > div::after {
    color: #e7e7e7;
    font-family: "FontAwesome";
    font-size: 100px;
    left: 0;
    position: absolute;
    top: -40px;
}
.owl-nav .owl-prev:after {
    content:"\f104";
}
.owl-nav .owl-next:after {
    content:"\f105";
    right:0px;
    left:inherit;
}
.owl-nav > div:hover:after {
    color:#dc3545;
}


/*=========================
	 9. Download App
===================================*/
#download_app {
    background-color: #000000;
    background-image: url("../images/app_bg_screenshot.png");
    padding: 50px 0;
}
#download_app a h3 {
    transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
}
#download_app a h3:hover {
    color:#dc3545;
}



/*=========================
	 10. Pricing-Table
===================================*/
.pricing_wrap {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    padding: 0 30px 50px;
    margin:0 auto 70px;
    transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
}
.pricing_wrap:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}
.pricing_header {
    background: #363951 none repeat scroll 0 0;
    border-radius: 8px 8px 0 0;
    color: #ffffff;
    margin: 0 -30px;
    padding: 30px;
    position:relative;
}
.discount {
    background: #dcd235 none repeat scroll 0 0;
    border-radius: 50%;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    height: 50px;
    left: 25px;
    line-height: 15px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 50px;
}
.pricing_header h5 {
    color: #ffffff;
    margin: 0 auto 20px;
}
.price {
    font-size: 50px;
    font-weight: 800;
    line-height: 40px;
    margin: 0 auto;
}
.price span {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    text-decoration: line-through;
    vertical-align: middle;
}
.pricing_wrap ul {
    padding:0px;
    margin:30px auto 50px;
}
.pricing_wrap ul li {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    list-style: outside none none;
    margin: 0 auto 20px;
}
.popular_plan {
    background:#dc3545;
}

.need_more > * {
    margin:0 auto 5px;
}


/*=========================
	 11. How-it-work
===================================*/
#how_it_work {
    background-color: #000000;
    background-image: url("../images/app_bg_screenshot.png");
    overflow:hidden;
}
.video_wrap iframe {
    height: 400px;
    margin-top: 30px;
    max-width: 800px;
    width: 100%;
}


/*=========================
	 12. Reviews
===================================*/
#customer_reviews {
    position:relative;
}
#customer_reviews::after {
    color: #f0f0f0;
    content: "\f10d";
    font-family: "FontAwesome";
    font-size: 220px;
    left: 110px;
    position: absolute;
    top: -60px;
}
#customer_reviews::before {
    color: #f0f0f0;
    content: "\f10e";
    font-family: "FontAwesome";
    font-size: 220px;
    right: 110px;
    position: absolute;
    top: -60px;
}

.review_img {
    border-radius: 50%;
    height: 85px;
    margin: 0 auto 15px;
    overflow: hidden;
    width: 85px;
}
.review_wrap {
    margin:0 auto;
    max-width:400px;
    text-align:center;
    padding:0 15px;
    overflow:hidden;
}
.ratings {
    color:#b4b4b4;
    font-size:18px;
}
.ratings .active {
    color:#f8bb02;
}
.review_wrap p {
    font-weight: 300;
    line-height: 26px;
}
.item.review_wrap h6 {
    font-weight: 700;
}
.owl-dots {
    text-align:center;
    margin-top:20px;
}
.owl-dot {
    background: #9a9ca8 none repeat scroll 0 0;
    border-radius: 8px;
    display:inline-block;
    vertical-align:middle;
    height: 8px;
    margin: 0 2px;
    width: 16px;
    transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
}
.owl-dot.active {
    background:#dc3545;
    width: 26px;
}


/*=========================
	 13. Contact-Us
===================================*/
#contact_us {
    background-color: #000000;
    background-image: url("../images/app_bg_screenshot.png");
    overflow:hidden;
}
.contact_form {
    overflow:hidden;
    margin:0 auto 10px;
    max-width:950px;
    padding: 0px 20px 20px;
}
#success, #error { display:none;}
#success.show, #error.show { display:block;}
.contact_form label.error {
    display: block;
    text-align: left;
}



/*=========================
	 14. Latest News
===================================*/
.post_wrap h5 a {
    color:#111;
}
.post_wrap h5 a:hover {
    color:#dc3545
}
.post_img  {
    margin:0 auto 20px;
}
.post_img img {
    max-width:100%;
    height:auto;
}
.post_elements ul {
    padding:15px 0 0;
    margin:0px;
}
.post_elements ul li {
    list-style:none;
    display:inline-block;
    padding:0 10px;
    margin:0 auto;
    color:#a0a0a0;
    font-size:14px;
    line-height:16px;
    text-transform:uppercase;
    border-right:#a0a0a0 solid 1px;
}
.post_elements ul li:first-child {
    padding-left:0px;
}
.post_elements ul li:last-child {
    border:0px;
}
.post_elements ul li a:hover {
    text-decoration:underline;
}




/*=========================
	 15. Footer
===================================*/
.newsletter {
    padding:58px;
    border-bottom:#292d33 solid 1px;
}
#newsletter_success, #newsletter_error { display:none;}
#newsletter_success.show, #newsletter_error.show { display:block;}
.modal-backdrop { display:none; }
body.modal-open { overflow: auto;}
.newsletter h6 {
    color:#fff;
    margin-top:15px;
}
.newsletter h5 {
    color:#a0a0a0;
    margin:0 auto 25px;
}
.newsletter form {
    margin:0 auto;
    max-width:480px;
    position:relative;
}
.newsletter .form-control {
    background:none;
    border:#a0a0a0 solid 1px;
    padding:10px 200px 10px 20px;
}
.newsletter .form-group {
    margin:0 auto;
}
.newsletter_btn {
    position:absolute;
    right:0px;
    top:0px;
}
.footer_links {
    padding:0px;
    margin:60px auto;
}
.footer_links li {
    list-style:none;
}
.footer_links li a {
    display:inline-block;
    color:#a0a0a0;
    position:relative;
    padding-left:18px;
}
.footer_links li a::after {
    content: "\f105";
    font-family: "FontAwesome";
    left: 0;
    position: absolute;
    top: 0;
}
.footer_links li a:hover, .footer_links li a:hover:after {
    color:#dc3545;
}
.footer_bottom {
    background:#15181d;
    padding:15px 0;
}
.footer_bottom p {
    color:#9f9f9f;
    font-size:15px;
    margin:5px auto;
}
.follow_us {
    text-align:right;
}
.follow_us ul {
    padding:0px;
    margin:0 auto;
}
.follow_us ul li {
    display:inline-block;
    vertical-align:middle;
    list-style:none;
    margin:0 2px;
}
.follow_us ul li a {
    display:block;
    width:36px;
    height:36px;
    border-radius:50%;
    text-align:center;
    line-height:36px;
    color:#a0a0a0;
    font-size:20px;
    background:#1e2127;
}
.follow_us ul li a i {
    margin:0 auto;
}
.follow_us ul li a:hover {
    color:#fff;
    background:#db3545;
}
.back-top {
    bottom: 15px;
    position: fixed;
    right: 33px;
    z-index: 1;
    background:#dc3545;
}
.back-top a {
    border-radius: 50%;
    color: #ffffff;
    display: block;
    font-size: 19px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    vertical-align: top;
    width: 40px;
}
.back-top a:hover, .back-top a:focus {
    color:#fff;
}


/*--------------------------
	15.1. Footer-Style-2
--------------------------------------*/
.footer-style2 .follow_us ul {
    padding: 20px 0;
    text-align: center;
}
.footer-style2 .footer_bottom {
    background:none ;
    border-top: 1px solid #2e3238;
    padding: 15px 0;
}
.footer-style2 .follow_us ul li a {
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.7);
    margin: 0 2px;
    width: 36px;
}
.footer_widgets {
    padding:80px 0;
}
.footer_widgets h5 {
    color:#a0a0a0;
    margin:0 auto 25px;
}
.footer-style2 .footer_widgets ul {
    padding:0px;
    margin:0;
}
.footer-style2 .footer_widgets li {
    list-style: outside none none;
}
.footer-style2 .footer_widgets li a::after {
    content: "";
    font-family: "FontAwesome";
    left: 5px;
    position: absolute;
    top: 0;
}
.footer-style2 .footer_widgets li a {
    color: #a0a0a0;
    display: inline-block;
    padding-left: 18px;
    position: relative;
}
.footer-style2 .footer_widgets li a:hover {
    color:#dc3545;
}
.footer-style2 .footer_widgets .form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #a0a0a0;
    padding: 10px 200px 10px 20px;
}
.footer-style2 .download_link a {
    display:inline-block;
    color:#fff;
    font-size:22px;
    padding:14px 40px;
    border:rgba(255, 255, 255, 0.2) solid 1px;
    font-weight:300;
}
.footer-style2 .download_link .fa {
    font-size:28px;
    margin:0 5px 0 0;
}
.footer-style2 .download_link a:hover {
    color:#dc3545;
    border-color:#dc3545;
}



/*=========================
	 16. Inner-page-Banner
===================================*/
#inner_header {
    background-color: #000000;
    background-image: url("../images/app_bg_screenshot.png");
}
.inner-header .dark-overlay {
    background:rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
}
.breadcrumbs a, .breadcrumbs span {
    display:inline-block;
    vertical-align:middle;
    color:#fff;
    font-size:17px;
    margin:0 3px;
}
.breadcrumbs a:hover {
    color:#ff0018;
}
#inner_container {
    padding:80px 0;
    overflow:hidden;
}
.inner-header {
    padding-top: 220px;
}
#contact_us_bg {
    background-image: url("../images/contact-us-bg.jpg");
}
#about_us_bg {
    background-image: url("../images/about-us-bg.jpg");
}
#features_bg {
    background-image: url("../images/features-bg.jpg");
}
#pricing_bg {
    background-image: url("../images/pricing-bg.jpg");
}
#screenshots_bg {
    background-image: url("../images/screenshots-bg.jpg");
}



/*=========================
	 17. Blog
===================================*/
.post_listing h2 {
    font-size:35px;
}
.post_listing h2 a {
    color:#111;
}
.post_listing h2 a:hover {
    color:#dc3545;
}
.post_listing .post_elements ul {
    margin: 0;
    padding: 12px 0 30px;
}
.post_listing {
    border-bottom: 1px solid #dddddd;
    margin: 0 auto 50px;
    padding-bottom: 60px;
}
.pagination {
    clear:both;
}
.pagination .page-number {
    height:46px;
    width:46px;
    display:inline-block;
    vertical-align:middle;
    margin:0 5px 5px 0;
    text-align:center;
    line-height:40px;
    color:#fff;
    background:#363951;
    font-size:20px;
}
.pagination .page-number.current,
.pagination .page-number:hover,
.pagination .page-number:focus {
    background:#dc3545;
}


/*--------------------
	17.1. Sidebar
--------------------------*/
.sidebar_widgets {
    padding:26px;
    border:#e8e8e8 solid 1px;
    margin:0 auto 35px;
}
.sidebar_title {
    border-bottom: 1px solid #e8e8e8;
    font-size:24px;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.sidebar_widgets > ul {
    padding:0px;
    margin:0px;
}
.sidebar_widgets > ul > li {
    list-style:none;
    margin:0 auto 12px;
    padding-left:25px;
    position:relative;
}
.sidebar_widgets > ul > li::after {
    content:"\f105";
    font-family: fontawesome;
    left: 8px;
    position: absolute;
    top: 0;
}
.sidebar_widgets > ul > li > a {
    color:#555;
}
.sidebar_widgets > ul > li > a:hover {
    color:#dc3545;
}
.tagcloud a {
    display:inline-block;
    color:#dc3545;
    border:#dc3545 solid 1px;
    padding:3px 15px;
    margin:4px 4px 2px 0;
}
.tagcloud a:hover {
    background:#dc3545;
    color:#fff;
}
.populat_post_wrap h6 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 2px;
}
.populat_post_wrap h6 a {
    color:#111;
}
.populat_post_wrap h6 a:hover {
    color:#dc3545;
}
.populat_post_wrap {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 23px;
    overflow: hidden;
    padding-bottom: 25px;
}
.populat_post_wrap:last-child {
    padding:0px;
    margin:0px;
    border:0px;
}


/*=========================
	 18. Blog-Detail
===================================*/
.single_article .post_listing {
    border:0px;
}
.post_tags {
    overflow:hidden;
    padding:20px 0 0;
}
.post_tags span {
    display:inline-block;
    font-weight:900;
    margin:0 5px 4px 0;
}
.post_tags a {
    border: 1px solid #dc3545;
    color: #dc3545;
    display: inline-block;
    margin: 4px 4px 2px 0;
    padding: 3px 15px;
}
.post_tags a:hover {
    background:#dc3545;
    color:#fff;
}

/*--------------------
	18.1. Comment-List
----------------------------*/
.articale_comments {
    margin:0 auto 100px;
    border-bottom: 1px solid #cecece;
}
.commentlist {
    margin: 0 0 30px;
    padding: 0;
}
.commentlist li {
    list-style: outside none none;
    margin:0 auto;
}
.commentlist li .comment-body {
    border-top: 1px solid #cecece;
    padding: 30px 0;
}
.comment-author img {
    float: left;
}
.commentlist li img.avatar {
    border: medium none;
    border-radius: 50%;
    float: left;
    height: 84px;
    margin-bottom: 30px;
    margin-right: 25px;
    position: relative;
    width: 84px;
}
.comment-content,
.commentlist .reply {
    margin-left: 110px;
}
.commentlist .reply .fa {
    margin-right:4px;
}
.comment-meta.commentmetadata {
    margin-bottom:8px;
}
.comment-meta.commentmetadata,
.comment-meta.commentmetadata a {
    color: #b7b7b7;
    font-size: 14px;
    font-weight: 400;
}
.comment-meta.commentmetadata a:hover {
    color:#dc3545;
}
.comment-author .fn {
    color: #111;
    font-size:18px;
    font-weight: 900;
}
.comment ul.children {
    padding-left: 110px;
}
.comment-form {
    margin:40px 0;
}



/*==========================
	19. Responsive CSS
======================================*/
@media (min-width:992px) and (max-width:1200px) {
    .navbar.navbar-default .nav.navbar-nav > li > a {
        font-size: 16px;
        padding: 41px 13px;
    }
    header#header.affix .navbar.navbar-default .nav.navbar-nav > li > a {
        padding: 30px 13px;
    }
    .facts_info h3 {
        font-size: 33px;
    }
    .facts_info {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .features-box {
        padding: 30px 20px;
    }
    .share_icon a {
        font-size: 60px;
    }
    #share_app h2 {
        margin: 40px auto 20px;
    }
    .navbar.navbar-default .nav.navbar-nav li.open .dropdown-menu li {
        padding: 3px 10px;
    }
    .navbar.navbar-default .nav.navbar-nav li.open .dropdown-menu a {
        font-size: 14px;
        padding: 8px 0;
    }
    .intro_text h3 {
        font-size:32px;
    }

}


@media (min-width:768px) and (max-width:991px) {
    #header .navbar-header {
        margin-left: 0;
        margin-right: 0;
        float:none;
    }
    #header .logo {
        float:left;
    }
    .navbar-toggle {
        border-radius: 0;
        margin-right: 0;
        margin-top: 29px;
        display:block;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background:none;
    }
    .navbar-toggle .icon-bar {
        height: 5px;
        width: 28px;
    }
    .navbar.navbar-default .nav.navbar-nav {
        float: none;
        margin: 0 auto;
    }
    .navbar.navbar-default .nav.navbar-nav > li > a {
        border-bottom: 1px solid #eeeeee;
        display: block;
        font-size: 18px;
        padding: 18px 16px;
    }
    header#header.affix .navbar.navbar-default .nav.navbar-nav > li > a {
        padding: 18px 16px;
    }
    header#header.affix .logo {
        margin: 20px 0;
    }
    .navbar.navbar-default .nav.navbar-nav {
        max-height: 400px;
        overflow: auto;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-collapse.collapse {
        display:none !important;
    }
    .navbar-collapse.collapse.in {
        display:block !important;
    }
    .dropdown-menu {
        float: none;
        position: relative;
    }

    .intro_text h1 {
        font-size: 55px;
    }
    .intro_text h3 {
        font-size: 27px;
        line-height: 38px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 34px;
    }
    h5 {
        font-size:24px;
    }
    h4 {
        font-size: 26px;
    }
    .btn.btn-lg {
        font-size: 20px;
        padding: 14px 40px;
    }
    .vertical_box .box-info {
        float: left;
        margin-left: 4%;
        width: 73.5%;
    }
    .facts_info {
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
    }
    .fact_icon {
        float: none;
        margin: 0 auto 20px;
    }
    #share_app {
        text-align: center;
    }
    .share_icon a {
        font-size: 60px;
        margin: 0 35px 50px 0;
    }
    #download_app > * > * > div:first-child::after {
        display: none;
    }
    #customer_reviews::before {
        font-size: 170px;
        right: 30px;
    }
    #customer_reviews::after {
        font-size: 170px;
        left: 30px;
    }
    .post_wrap {
        margin: 20px auto 50px;
    }
    .footer_bottom {
        margin-top: 60px;
    }
    .footer_links {
        margin: 60px auto 0;
    }
    .info_wrap {
        margin-top: 50px;
        padding-left: 0;
    }

}


@media (max-width:767px) {
    #header .logo {
        float: left;
    }
    #header .navbar-header {
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-toggle {
        border-radius: 0;
        margin-right: 0;
        margin-top: 29px;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background:none;
    }
    .navbar-toggle .icon-bar {
        height: 5px;
        width: 28px;
    }
    .navbar.navbar-default .nav.navbar-nav {
        float: none;
        margin: 0 auto;
    }
    .navbar.navbar-default .nav.navbar-nav > li > a {
        border-bottom: 1px solid #eeeeee;
        display: block;
        font-size: 18px;
        padding: 18px 16px;
    }
    header#header.affix .navbar.navbar-default .nav.navbar-nav > li > a {
        padding: 18px 16px;
    }
    header#header.affix .logo {
        margin: 20px 0;
    }
    .navbar.navbar-default .nav.navbar-nav {
        max-height: 450px;
    }
    #banner {
        padding: 102px 0 0;
    }
    .intro_img {
        text-align: center;
    }
    .intro_text h1 {
        font-size: 50px;
    }
    .intro_text h3 {
        font-size: 26px;
        line-height: 40px;
    }
    .btn.btn-lg {
        font-size: 20px;
        padding: 12px 30px;
    }
    .intro_img img {
        max-width:100%;
    }
    .intro_text {
        padding: 40px 0 30px 0px;
    }
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 34px;
    }
    h5 {
        font-size:24px;
    }
    h4 {
        font-size: 26px;
    }
    .breadcrumbs a, .breadcrumbs span {
        font-size: 16px;
    }
    .vertical_box .box-info {
        float: left;
        margin-left: 4%;
        width: 73.5%;
    }
    img {
        max-width:100%;
    }
    .facts_info::after {
        display:none;
    }
    .features-box {
        margin: 30px auto 0;
        max-width: 500px;
    }
    .section-header p {
        font-size: 17px;
        font-weight: 400;
        line-height: 27px;
    }
    .facts_info {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    p {
        font-size:16px;
        line-height:26px;
    }
    #share_app {
        text-align:center;
    }
    .inner_wrap {
        margin: 0 auto;
        max-width: 380px;
    }
    #share_app h2 {
        line-height: 50px;
    }
    .share_icon a {
        font-size: 60px;
        margin: 0 25px 0 0;
    }
    .share_icon {
        margin:0 auto 40px;
    }
    .section-padding {
        padding: 70px 0;
    }
    .pricing_wrap {
        margin: 0 auto 50px;
    }
    .contact_form {
        padding: 20px 5px;
    }
    .post_wrap {
        margin: 0 auto 70px;
    }
    .follow_us {
        margin-bottom: 20px;
        margin-top: 6px;
        text-align: center;
    }
    .footer_bottom p {
        text-align:center;
    }
    .footer_links {
        margin: 15px auto;
        max-width: 430px;
        padding: 0;
    }
    .footer_bottom {
        margin-top: 60px;
    }
    .newsletter {
        padding: 58px 0;
    }
    #customer_reviews::before {
        font-size: 120px;
        right: 30px;
    }
    #customer_reviews::after {
        font-size: 120px;
        left: 30px;
    }
    .inner-header {
        padding-top: 180px;
    }
    .info_wrap {
        margin-top: 50px;
        padding-left: 0;
    }
    .sidebar {
        margin-top: 60px;
    }
    .commentlist li img.avatar {
        height: 54px;
        width: 54px;
    }
    .comment-content, .commentlist .reply {
        margin-left: 80px;
    }
    .comment ul.children {
        padding-left: 60px;
    }
    .sidebar_widgets {
        padding: 16px;
    }
    #screenshots_slider .owl-nav > div{
        width:40px;
        height:40px;
    }
    #screenshots_slider .owl-nav > div::after{
        font-size:30px;
        top:0px;
        border:solid 1px #e7e7e7;
        width:40px;
        height:40px;
        line-height:38px;
        text-align:center;
    }
    #screenshots_slider .owl-nav .owl-prev{
        left:15px;
    }
    #screenshots_slider .owl-nav .owl-next{
        right:15px;
    }
}


@media (max-width:480px) {
    #share_app h2 {
        font-size: 35px;
        line-height: 40px;
    }
    .share_icon a {
        font-size: 40px;
        margin: 0 15px 0 0;
    }
    .video_wrap iframe {
        height: 270px;
    }
    #customer_reviews::before,
    #customer_reviews::after {
        display:none;
    }
    .review_wrap p {
        font-size:15px;
    }
    .footer_bottom p {
        font-size: 13px;
    }
    .newsletter .form-control {
        padding: 15px;
    }
    .newsletter_btn {
        padding-top: 12px;
        position: relative;
    }
    .newsletter_btn input {
        width:100%;
    }
    .post_listing h2 {
        font-size: 26px;
    }
    .pagination .page-number {
        font-size: 17px;
        height: 36px;
        line-height: 36px;
        margin: 0 3px 5px 0;
        width: 36px;
    }

}
.solutions {
    width: calc(100% + 80px);
    margin-left: -40px;
}
.solutions li:not(:last-child) {
    width: 18%;
    float: left;
    margin-bottom: 88px;
    margin-left: 20px;
}
.solutions li a {
    text-align: center;
    display: inline-block;
    width: 100%;
}
.partners {
    width: calc(100% + 80px);
    margin-left: -40px;
}
.partners li:not(:last-child) {
    width: 12%;
    float: left;
    margin-bottom: 88px;
    margin-left: 20px;
}
.partners li a {
    text-align: center;
    display: inline-block;
    width: 100%;
}
#donen_yazi
{
    display: inline-block;
    writing-mode: vertical-lr;
    transform: rotate(270deg);
    color: #737576;
    font-weight: 100;
}
#sports::before {
    content: "◉";
    color: #295d7b;
    display: inline-block;
    width: 1em;
    margin-left: -1em}
#livesport::before {
    content: "◉";
    color: #47840e;
    display: inline-block;
    width: 1em;
    margin-left: -1em}
#retails::before {
    content: "◉";
    color: #000000;
    display: inline-block;
    width: 1em;
    margin-left: -1em}
#mobiles::before {
    content: "◉";
    color: #ff9600;
    display: inline-block;
    width: 1em;
    margin-left: -1em}
#onlines::before {
    content: "◉";
    color: #555555;
    display: inline-block;
    width: 1em;
    margin-left: -1em}
#casinos::before {
    content: "◉";
    color: #ff00ba;
    display: inline-block;
    width: 1em;
    margin-left: -1em}
#virtualsports::before {
    content: "◉";
    color: #00a651;
    display: inline-block;
    width: 1em;
    margin-left: -1em}
#adminconsoles::before {
    content: "◉";
    color: #a0410d;
    display: inline-block;
    width: 1em;
    margin-left: -1em}
#odd::before {
    content: "◉";
    color: #ff0000;
    display: inline-block;
    width: 1em;
    margin-left: -1em}
#whitelabels::before {
    content: "◉";
    color: #000000;
    display: inline-block;
    width: 1em;
    margin-left: -1em}
#freecupons::before {
    content: "◉";
    color: #a186be;
    display: inline-block;
    width: 1em;
    margin-left: -1em}
#freebets::before {
    content: "◉";
    color: #8c6239;
    display: inline-block;
    width: 1em;
    margin-left: -1em}
#cashouts::before {
    content: "◉";
    color: #a186be;
    display: inline-block;
    width: 1em;
    margin-left: -1em}
@media screen and (max-width: 767px){
    .solutions li:not(:last-child) {
        width: 50%;
        margin-left: 0px;
    }
    .partners li:not(:last-child) {
        width: 50%;
        margin-left: 0px;
    }
    #mobil_hide
    {
        display: none;
    }
    .solutions {
        width: 100%;
        margin-left: 0;
    }
    .partners {
        width: 100%;
        margin-left: 0;
    }
    #donen_yazi {
        display: inherit;
        writing-mode: unset;
        transform: rotate(0deg);
        text-align: center;
    }
}
.solutions-icon {
    width: 144px;
    height: 144px;
    border: 2px solid #fff;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    .highest_img
    {
        width: 127%;
        position: absolute;
        top: -82px;
        right: -80px;
    }
}

